--index https://mirrors.aliyun.com/pypi/simple
--trusted-host mirrors.aliyun.com

robotframework
robotremoteserver
robotframework-requests
robotframework-sshlibrary
robotframework-seleniumlibrary
jsonpath-ng
jinja2
pytz
locust
pytest
uwsgi
redis
sqlalchemy
myclient
#pymssql
pyodbc
